/*Дан следующий код:Сделайте элементы с классом xxx размером в 30px.*/
/*.xxx {
   color: red;
   font-size: 30px;
}*/



/*Дан следующий код:Покрасьте содержимое первого дива в красный цвет, содержимое второго дива - в зеленый, а содержимое третьего дива - с голубой. Задайте для этого каждому диву свой класс*/
/*.red{
    color:red;
}
.green{
    color:green;
}
.blue{
    color:blue;
}*/



/*Дан следующий код:Покрасьте содержимое первого и третьего дива в красный цвет, содержимое второго дива и четвертого - в зеленый. Для этого первому и третьему дивам дайте один класс, а второму и четвертому - другой класс*/
/*.red {
    color: red;
}

.green {
    color: green;
}*/



/*Упростите код, используя группировку селекторов:*/
/*.eee {
	font-size: 20px;
	
}
.zzz {
	font-size: 30px;
	
}
.eee,.zzz{
    line-height: 1.5;
    font-family: Arial;
}*/



/*Упростите код, используя группировку селекторов:*/
/*.eee {
    font-size: 20px;

}

.zzz {
    font-size: 30px;

}

.ggg {
    font-size: 35px;

}

.eee,
.zzz,
.ggg {
    text-align: center;
    font-family: Arial;
}*/ 



/*Сделайте все h2 с классом header размером 40px, а все h3 с этим классом - размером 30px.*/
/*h2.header {
	color: red;
    font-size: 40px;
}
h3.header{
    font-size: 30px;
}*/ 



/*Покрасьте в красный цвет все теги i, находящиеся в элементах с классом eee.*/
/*.eee i {
    color: red;
}*/



/**/